@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: rgba(0, 0, 0, 0.7);
  background-image: url("/static/video/car-bg.gif");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}