<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About TCO tool</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div>
        <div class="team-member-container">
            <h2>Project Leader:</h2>
             <p>DR. NOR ASMAA ALYAA NOR AZLAN (FKM, UTM)</p>
            <h2>Team Members:</h2>
            <ul>
                <li>IR. DR. MOHD AZMAN ABAS (ADC, UTM) (NEXT-APPOINTED-LEADER)</li>
                <li>DR. IZHARI IZMI MAZALI (ADC, UTM)</li>
                <li>ASSOC. PROF. IR. DR. ZOOL HILMI ISMAIL (CAIRO, UTM)</li>
                <li>DR. FARRAEN AZMIN (FORTESQUE ZERO, UK)</li>
            </ul>
        </div>
    </div>
</body>
</html>