<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TCO tool</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"/>
<link rel="stylesheet" href="/static/style/style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <header class="header">
      <nav id="navbar">
        <!-- <div class="container"> -->
          <div class="navbar-logo">
            <div id="logo">{{title}}</div>
            <div id="beta-logo">Beta version</div>
          </div>
          <div class="navbar-item">
            <div>
              <i class='bx bx-menu' id="menu-icon"></i>
            </div>
            <div>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>
          <!-- </div> -->
        </div>
      </nav>
    
        <!-- description -->
        <div class="container">
          <div id="main-header">
            <h1>Electric Vehicle Fleet Conversion Tool</h1>
            <p>An interactive and intelligent web-based tool that can help 
              vehicle fleet management in assessing the total cost of 
              ownership (TCO) and carbon emission reductions when 
              transitioning from internal combustion engine vehicle 
              (ICEV) to an electric vehicle (EV) in Malaysia setting. 
            </p>
            <a href="/tco-form">
              <button id="button-header" >Start here!</button>
            </a>
          </div>
        </div>
  </header>
  <footer class="footer">
    <p>© <span id="year"></span>Nur Liyana</p> 

    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
  </footer>
</body>
</html>