<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <header class="header">
          <nav id="navbar">
            <div id="logo">{{title}} </div>
            <!-- <div id="beta-logo"> <sub></sub>Beta version</div> -->
            <i class='bx bx-menu' id="menu-icon"></i>
            <ul>
              <li><a href="/index.html">Home</a></li>
              <li><a href="/about.html">About</a></li>
            </ul>
          </nav>
              <!-- description -->
      <div class="container">
        <div id="main-header">
          <h1>Electric Vehicle Fleet Conversion Tool</h1>
          <p>An interactive and intelligent web-based tool that can help 
            vehicle fleet management in assessing the total cost of 
            ownership (TCO) and carbon emission reductions when 
            transitioning from internal combustion engine vehicle 
            (ICEV) to an electric vehicle (EV) in Malaysia setting. 
          </p>
          <a href="/tco-tool">
            <button id="button-header">Start here!</button>
          </a>
        </div>
      </div>
    </header>
</body>
</html>