<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <header>
    <nav id="navbar">
      <!-- <div class="container"> -->
        <div class="navbar-logo">
          <div id="logo">{{title}}</div>
          <div id="beta-logo">Beta version</div>
        </div>
        <div class="navbar-item">
          <div>
            <i class='bx bx-menu' id="menu-icon"></i>
          </div>
          <div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        <!-- </div> -->
      </div>
    </nav>
</header>
<section class="tco-form">
  <div class="container">
    <div class="box">
      <div class="left-column">
        <div>
          left 1
        </div>
        <div>
          left 2
        </div>
      </div>

      <div class="right-column">
        <div>
          right 1
        </div>
        <div>
          right 2
        </div>
      </div>
    </div>
  
  </div>
</section>
</body>
</html>