<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/static/style/tco-style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <header>
    <nav id="navbar">
      <!-- <div class="container"> -->
        <div class="navbar-logo">
          <div id="logo">{{title}}</div>
          <div id="beta-logo">Beta version</div>
        </div>
        <div class="navbar-item">
          <div>
            <i class='bx bx-menu' id="menu-icon"></i>
          </div>
          <div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        <!-- </div> -->
      </div>
    </nav>
</header>
<section class="tco-form">
  <div class="container">
    <div class="box">
      <div id="left-column">

        <form action="/submitform" method="post" enctype="multipart/form-data">
          <div class="container-box">
            <div class="no-border-question">
              <label for="annual_dist" class="form-label">Annual driving distance</label>
              <!-- <input type="range" class="form-range" id="customRange1"> 10000 km/year   -->
              <input type="text" name=" annual_dist" id="annual_dist" placeholder="RM 10000 km/year">
            </div>

            <div class="dropdown-box">
              <label for="vehicle_type">Vehicle Type</label>
              <select name="vehicle_type" id="vehicle_type">
                <option value="">--Please choose an option--</option>
                <option value="medium_car">Medium car</option>
                <option value="sedan_car">Sedan car</option>
                <option value="hatchback">Hatchback</option>
              </select>
              <!-- <i class="ri-arrow-down-s-fill"></i> -->
            </div>
    
            <div class="title">
              Fuel-powertrain <i class="ri-information-line text-primary"  data-bs-toggle="tooltip" data-bs-placement="top" title="This is some helpful information!"></i>
            </div>
                
            <div class="box">
              <div class="dropdown-box">
                Vehicle 1 <i class="ri-arrow-down-s-fill"></i>
              </div>

              <div class="dropdown-box">
                Vehicle 2 <i class="ri-arrow-down-s-fill"></i>
              </div>
            </div>

          </div>
          <div id="purchase-cost">
            <div>
              Purchase cost <i class="ri-information-line text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="This is some helpful information!"></i>
            </div>

            <div class="box">
                <div class="box-column">
                  <small class="title">Battery electric</small>
                
                  <div class="question">
                    <label>Total vehicle cost</label>
                    <input type="text" id="total_vehicle_cost" name="total_vehicle_cost" placeholder="RM 123..">
                  </div>
                  
                  <div class="question">
                    <label>Vehicle cost before taxes</label>
                    <input type="text" id="cost_before_tax" name="cost_before_tax" placeholder="RM 123..">
                  </div>
      
                  <div class="question">
                    <label>Import tax</label>
                    <input type="text" id="battery_import_tax" name="battery_import_tax" placeholder="0%">
                    <!-- <input type="range" class="form-range" id="customRange1"> 0% -->
                  </div>
      
                  <div class="question">
                    <label>Registration tax</label>
                    <input type="text" id="reg_tax" name="reg_tax" placeholder="5%">
                    <!-- <input type="range" class="form-range" id="customRange1"> 5% -->
                  </div>
      
                  <div class="question">
                    <label>CO<sub>2</sub> and other taxes</label>
                    <input type="text" id="etc_taxes" name="etc_taxes" placeholder="5%">
                    <!-- <input type="range" class="form-range" id="customRange1"> 5% -->
                  </div>
      
                  <div class="question">
                    <label>Residual value</label>
                    <input type="text" id="residual_val" name="residual_val" placeholder="RM 1500">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM1500 -->
                  </div>
      
                  <div class="question">
                    <label>Home charging installation</label>
                    <input type="text" id="home_charge_installation" name="home_charge_installation" placeholder="RM 120">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM 120 -->
                  </div>
                </div>
      
                <div class="box-column">
                  <small class="title">Petrol</small>
      
                  <div class="question">
                    <label>Total vehicle cost</label>
                    <input type="text" id="vehicle_cost" name="vehicle_cost" placeholder="RM 123..">
                  </div>
                  
                  <div class="question">
                    <label>Vehicle cost before taxes</label>
                    <input type="text" id="vehicle_cost_before_tax" name="vehicle_cost_before_tax" placeholder="RM 123..">
                  </div>
      
                  <div class="question">
                    <label>Import tax</label>
                    <input type="text" id="petrol_import_Tax" name="petrol_import_tax" placeholder="0%">
                    <!-- <input type="range" class="form-range" id="customRange1"> 0% -->
                  </div>
      
                  <div class="question">
                    <label>Registration tax</label>
                    <input type="text" id="petrol_regis_tax" name="petrol_regis_tax" placeholder="5%">
                    <!-- <input type="range" class="form-range" id="customRange1"> 5% -->
                  </div>
      
                  <div class="question">
                    <label>CO<sub>2</sub> and other taxes</label>
                    <input type="text" id="petrol_etc_tax" name="petrol_etc_tax" placeholder="5%">
                    <!-- <input type="range" class="form-range" id="customRange1"> 5% -->
                  </div>
      
                  <div class="question">
                    <label>Residual value</label>
                    <input type="text" id="petrol_residual_val" name="petrol_residual_val" placeholder="RM 1500">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM1500 -->
                  </div>

                </div>
            </div>
          </div>
          <hr>
            <div id="operating-cost">
                <!-- Operating cost here -->
              <div>
                Operating costs <i class="ri-information-line text-primary"  data-bs-toggle="tooltip" data-bs-placement="top" title="This is some helpful information!"></i>
              </div>

              <div class="box">
                <div class="box-column">
                  <small class="title">Battery electric</small>
      
                  <div class="question">
                    <label>Annual registration fee</label>
                    <input type="text" id="battery_annual_fee" name="battery_annual_fee placeholder="RM 150">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM150 -->
                  </div>
                  
                  <div class="question">
                    <label>Roadtax</label>
                    <input type="text" id="battery_roadtax" name="battery_roadtax" placeholder="RM 123">
                    <!-- <input type="text" id="roadtax" name="roadtax" placeholder="RM 123.."> -->
                  </div>
      
                  <div class="question">
                    <label>Insurance per year</label>
                    <input type="text" id="battery_insurance" name="battery_insurance" placeholder="RM 500">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM 500 -->
                  </div>
      
                  <div class="question">
                    <label>Maintennace per year</label>
                    <input type="text" id="battery_maintenance" name="battery_maintenance" placeholder="RM 50">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM 50 -->
                  </div>
      
                  <div class="question">
                    <label>Electricity fuel efficiency</label>
                    <input type="text" id="battery_electricity_fuel" name="battery_electricity_fuel" placeholder="14.00kWh/100km">
                    <!-- <input type="range" class="form-range" id="customRange1"> 14.00kWh/100km -->
                  </div>
      
                </div>
      
                <div class="box-column">
                  <small class="title">Petrol</small>
      
                  <div class="question">
                    <label>Annual registration fee</label>
                    <input type="text" id="petrol_annual_reg" name="petrol_annual_reg" placeholder="RM 150">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM150 -->
                  </div>
                  
                  <div class="question">
                    <label>Roadtax</label>
                    <input type="text" id="petrol_roadtax" name="petrol_roadtax" placeholder="RM 167">
                  </div>
      
                  <div class="question">
                    <label>Insurance per year</label>
                    <input type="text" id="petrol_insurance" name="petrol_insurance" placeholder="RM 50">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM 50 -->
                  </div>
      
                  <div class="question">
                    <label>Maintenace per year</label>
                    <input type="text" id="petrol_maintenance" name="petrol_maintenance" placeholder="RM 500">
                    <!-- <input type="range" class="form-range" id="customRange1"> RM 500 -->
                  </div>
      
                  <div class="question">
                    <label>Fuel efficiency</label>
                    <input type="text" id="petrol_fuel_eff" name="petrol_fuel_eff" placeholder="6.50L/100km">
                    <!-- <input type="range" class="form-range" id="customRange1"> 6.50L/100km -->
                  </div>

                  <!-- <input type="submit"> -->
                  <!-- <button>
                    Calculate TCO
                  </button> -->
                  
                </div>
              </div>
            </div>
            <button type="submit">Calculate TCO</button>
          </form>
        <!-- </form> -->
      </div>

      <div id="right-column">
          <div id="tco-box">
            Estimated cost of ownership box
            <hr>
            <div class="container-box">
              <div>
                <small>Battery electric TCO</small>
                <div>
                  RM 150/km
                </div>
                <div>
                  RM 100/year
                </div>
              </div>
  
              <div>
                <small>Petrol TCO</small>
                <div>
                  RM 107/km
                </div>
                <div>
                  RM 1000/year
                </div>
              </div>
            </div>
          </div>
  
          <div class="box">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#cumulative">Cumulative cost</a></li>
              <li><a data-toggle="tab" href="#menu1">Breakdown of TCO</a></li>
            </ul> 
          </div>
  
          <div id="cumulative">
            Cumulative annual owning and operational costs
            <div class="graph-box"> 
              <img src="https://www.jaspersoft.com/content/dam/jaspersoft/images/graphics/infographics/line-chart-example.svg" alt="line graph">
            </div>
          </div>

          <div id="breakdown">
            breakdown TCO
          </div>
      </div>
    </div>
  
  </div>
</section>
</body>
</html>